*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
  height: 100vh;
  background: linear-gradient( 144deg , rgb(216,44,46)0%,rgb(44,216,214)100%); 
}
.container {
    max-width: 1000px;
    margin:30px auto;
    position: relative;
  }
 
  .slides{
    display:none;
  }
 
.prev,
.next {
  cursor: pointer;
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 16px;
  border-radius: 0 6px 6px 0;
  background: rgba(0, 0, 0, .5);
  transition: all .3s;
}
.prev{
  left:0;
}
.next {
    right: 0;
    border-radius: 6px 0 0 6px;
  }
  
  .prev:hover,
  .next:hover {
    background: rgba(0, 0, 0, .8);
  }
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 10px 2px 0 2px;
    display: inline-block;
    background: #ddd;
    transition: all .3s;
  }
  
  .active,
  .dot:hover {
    background: #717171;
  }